header h2{
    color:rgb(236, 92, 75);
    margin-left:40px;
    margin-bottom:0;
}
header h1{
    color:rgb(236, 92, 75);
    margin-left:40px;
    font-weight: 500%;
    font-size:4em;
    margin-top:0;
    margin-bottom:0;
}
hr {
    height:5px;
    background-color:black;
}
.first-section {
    display:flex;
    margin-bottom:40px;
}
.half-width {
    width:50%;
    margin-left:50px;
}
.half-width img {
    height:600px;
}
h1 {
    font-size:4em;
}
span {
    color:rgb(228, 154, 16);
}
.color {
    color:rgb(77, 68, 68);
}
.color-gray {
    color:gray;
}
.font {
    font-size:30px;
}
.anchor-button {
    color:white;
    background-image:linear-gradient(to right, orange, red);
    padding:10px 30px;
    text-decoration: none;
    font-size:30px;
    border-radius:20px;
}
.about {
    display:flex;
    background-image: url('images/shapes/7.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.align-center {
    text-align: center;
}
#recipe-title {
    display:flex;
    margin:0 80px 150px 80px;
}
#recipe-title div {
    width:30%;
    box-shadow:0 0 10px 5px gray;
    padding:10px 10px 10px 10px;
    border-radius:10px;
    margin:30px;
}
#recipe-title img{
    height:280px;
}
footer {
    background-color: rgb(20, 20, 20);
    height: 200px;
    text-align: center;
}
footer p {
    color:white;
}
footer h1 {
    font-size:40px;
}