body {
    margin:0;
}
header h2{
    color:black;
    margin-left:40px;
    margin-bottom:0;
}
header h1{
    color:black;
    margin-left:40px;
    font-weight: 500%;
    font-size:4em;
    margin-top:0;
    margin-bottom:0;
}
p {
    text-align: justify;
}
#bookmark {
    text-align:center;
}
hr {
    height:5px;
    background-color:rgb(189, 14, 58);
}
.sections {
    display:flex;
    margin-bottom:40px;
}
.half-width {
    width:50%;
    margin-left:50px;
}
.half-width img {
    height:600px;
}
h1 {
    font-size:4em;
}
span {
    color:rgb(228, 154, 16);
}
.color {
    color:rgb(77, 68, 68);
}
.color-gray {
    color:gray;
}
.font {
    font-size:30px;
}
.anchor-button:link, .anchor-button:visited {
    color:white;
    background-image:linear-gradient(to left, orange, rgba(255, 0, 0, 0.527));
    padding:10px 30px;
    text-decoration: none;
    font-size:30px;
    border-radius:20px;
    font-weight: 700;
    margin-right: 20px;
}
.anchor-button:active, .anchor-button:hover {
    color: blue;
    background-image:linear-gradient(to left, orange, rgba(255, 0, 0,527));
    padding:10px 30px;
    text-decoration: none;
    font-size:30px;
    border-radius:20px;
    font-weight: 700;
    margin-right: 20px;
}
.bg-img {
    display:flex;
    background-image: url('images/shapes/7.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.align-center {
    text-align: center;
}
.recipe-title {
    display:flex;
    margin:0 80px 150px 80px;
}
.recipe-title div {
    width:30%;
    box-shadow:0 0 10px 5px gray;
    padding:1% 0.5% 1% 1%;
    border-radius:10px;
    margin:30px;
}
.recipe-title img{
    width:98%;
}
footer {
    background-color: rgb(20, 20, 20);
    height: 200px;

}
footer p {
    color:white;
    text-align:center;
}
footer h1 {
    font-size:40px;
    text-align:center;
}
.social-media {
    width:60%;
    box-shadow:0 0 10px 5px gray;
    border-radius:10px;
    margin:40px 250px;
}
#share-social-media {
    display:flex;    
}
#share-social-media div{
    padding:10px 70px 10px 70px;
}

